<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984162599512-l207nlgd32t8vnldommg0i05lu7e146e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984162599512-l207nlgd32t8vnldommg0i05lu7e146e</string>
	<key>API_KEY</key>
	<string>AIzaSyCTQvfDIbAWI-9dVg5qcCSNPVuoigh9tM4</string>
	<key>GCM_SENDER_ID</key>
	<string>984162599512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-4690b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-4690b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984162599512:ios:5ef7039504c143e1ab802d</string>
</dict>
</plist>